
  <div class="container text-center">
    <div class="spacer d-flex justify-content-center">
      <%= image_tag 'plantify.png', class: 'image-logo'%>
    </div>
  </div>

  <hr>

  <div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="icons d-flex justify-content-between">

        <%= link_to "https://www.facebook.com" do %>
        <i class="fab fa-facebook-square"></i>
        <% end %>

        <%= link_to "https://www.twitter.com" do %>
        <i class="fab fa-twitter-square"></i>
        <% end %>

        <%= link_to "https://www.instagram.com" do %>
        <i class="fab fa-instagram"></i>
        <% end %>

        <%= link_to "https://www.tiktok.com" do %>
        <i class="fab fa-tiktok"></i>
        <% end %>
        </div>
      </div>
      <div class="container d-flex justify-content-center">
        <div class="row">
          <div class="last-sentence">
            <p>Plantify, Inc. 2020. We love providing plants to our user!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
