<div class="show-banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');">
  <div class="container">
    <div class="banner-text d-flex">
      <h1> My Plantify</h1>
    </div>
  </div>
</div>

<div class="container mt-3">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Your bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Your bookings request</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Your plants</a>
    </li>
  </ul>

  <!--YOUR BOOKINGS -->
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <% @bookings.each do |booking| %>
        <div class="card-product mb-4 mt-4">

          <%= cl_image_tag booking.plant.photos.first.key, crop: :fill, class: "booking-img" %>

          <div class="card-product-infos">
            <h2><%= booking.plant.name %></h2>
            <p>Move in: <%= booking.start_date %> </p>
            <p>Move out: <%= booking.end_date %> </p>
          </div>

          <div class="ml-auto mr-3">
            <% if booking.status == "pending" %>
              <button type="button" class="class: button button-grey">Pending</button>
            <% elsif booking.status == "accepted" %>
              <button type="button" class="class: button button-ghost-green">Accepted</button>
            <% else %>
              <button type="button" class="class: button button-ghost-red">Rejected</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- YOUR REQUESTS -->
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <% current_user.requested_bookings.each do |booking| %>
        <div class="card-product mb-4 mt-4">

          <%= cl_image_tag booking.plant.photos.first.key, crop: :fill, class: "booking-img" %>

          <div class="card-product-infos">
            <h2><%= booking.plant.name %></h2>
            <p>Move in: <%= booking.start_date %> </p>
            <p>Move out: <%= booking.end_date %> </p>
          </div>

          <div class="ml-auto mr-3">
            <% if booking.status == "pending" %>
              <%= link_to "Accept", accept_booking_path(booking), class: "btn-right button button-green" %>
              <%= link_to "Reject", reject_booking_path(booking), class: "btn-right button button-red" %>
            <% elsif booking.status == "accepted" %>
              <button type="button" class="class: button button-ghost-green">Accepted</button>
            <% else %>
              <button type="button" class="class: button button-ghost-red">Rejected</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!--YOUR PLANTS -->
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <% @plants.each do |plant| %>
        <div class="card-product mb-4 mt-4">

          <%= cl_image_tag plant.photos.first.key, crop: :fill, class: "booking-img" %>

          <div class="card-product-infos">
            <h2> <%= plant.name %> </h2>
            <p> <%= plant.description %> </p>
          </div>
            <%= link_to 'More info', plant_path(plant), class: "btn-right button button-ghost ml-auto mr-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
