
<%#-------- image --------%>
<div class="home-banner" style="background-image: url(https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);">

                <%#-------- header --------%>
  <div class="headline">
    <div class="mb-3">
      <h1>Bring change and green up your life</h1>
    </div>
    <div class="subtitle d-flex justify-content-center">
        <div class="button button-green mr-3">Explore</div>
        <div class="button button-ghost">Add new plant</div>
    </div>
  </div>
</div>


                <%#-------- Table header --------%>
<div class="container-master">
                  <%#-------- Search Button --------%>

  <div class="container-description">
    <div class="container-txt">
      <h2>Enjoy your homed filled with <br>beautiful potted plant</h2>
    </div>

                <%#-------- Table --------%>
    <div class="container-table">
      <div class="row">
        <div class="col mt-3 mb-3 pr-4">
          <h4>Lorem ipsum dolor sit amet</h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col mt-3 mb-3 pr-4">
          <h4>Lorem ipsum dolor sit amet</h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col mt-3 mb-3 pr-4">
          <h4>Lorem ipsum dolor sit amet</h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col mt-3 mb-3 pr-4">
          <h4>Lorem ipsum dolor sit amet</h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

                <%#-------- Table header --------%>
<div class="container-description">
  
  <div class="container-slogan text-center">
      <h2>You are in good company</h2>
  </div>

  <div class="description text-center">
      <h3>Plantify is a renting plant service Velit aliquet sagittis id consectetur purus ut faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Suspendisse sed nisi lacus sed viverra tellus. </h3>
  </div>

                <%#-------- cards --------%>
  <div class="d-flex justify-content-between">
    <div class="image-vert" style="background-image: url(<%= image_path 'splash-img.jpeg'%> )">
    </div>
    <div class="image-vert" style="background-image: url(<%= image_path 'splash-img.jpeg'%> )">
    </div>
    <div class="image-vert" style="background-image: url(<%= image_path 'splash-img.jpeg'%> )">
    </div>
    <div class="image-vert" style="background-image: url(<%= image_path 'splash-img.jpeg'%> )">
    </div>
  </div>

  <%= render 'shared/footer' %>

</div>
