
<%#-------- image --------%>
<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80);">
  
                <%#-------- header --------%>
  <div class="title">
    <h1>Bring change and green up your life</h1>
  </div>

  <div class="container-splash">
    <div class="row-splash">
      <div class="subtitle d-flex justify-content-center">
          <div class="explore bg-success"><h4>Explore</h4></div>
          <div class="add-new bg-success"><h4>Add new plant</h4></div>
      </div>
    </div>
  </div>
</div>

                <%#-------- Search Button --------%>
<%= form_tag(plants_path, method: :get, class: 'form-inline') do %>
    <div class="form-group">
      <%= text_field_tag :query, "", placeholder: "looking for...", class: 'form-control' %>
    </div>
    <%= submit_tag "Search", class: 'btn btn-info' %>
  <% end %>

                <%#-------- Table header --------%>
<div class="container-master">
  <div class="container-description">
    <div class="container-txt">
      <h3>Enjoy your homed filled with beautiful potted plant</h3>
    </div>
    
                <%#-------- Table --------%>
    <div class="container-table">
      <div class="row">
        <div class="col">
          <h2>Lorem ipsum dolor sit amet</h2>
          <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
        </div>
        <div class="col">
          <h2>Lorem ipsum dolor sit amet</h2>
          <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <h2>Lorem ipsum dolor sit amet</h2>
          <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
        </div>
        <div class="col">
          <h2>Lorem ipsum dolor sit amet</h2>
          <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
        </div>
      </div>
    </div>

  <div class="container-slogan text-center">
      <h3>You are in good company</h3>
  </div>

  <div class="description text-center">
      <h3>Plantify is a renting plant service Velit aliquet sagittis id consectetur purus ut faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Suspendisse sed nisi lacus sed viverra tellus. Posuere urna nec tincidunt praesent semper. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Et ligula ullamcorper malesuada proin. A cras semper auctor neque vitae. Nibh sit amet commodo nulla facilisi nullam</h3>
  </div>

                <%#-------- cards --------%>
  <div class="d-flex justify-content-between">
    <div class="image-vert" style="background-image: url(<%= image_path 'splash-img.jpeg'%> )">
    </div>
    <div class="image-vert" style="background-image: url(<%= image_path 'splash-img.jpeg'%> )">
    </div>
    <div class="image-vert" style="background-image: url(<%= image_path 'splash-img.jpeg'%> )">
    </div>
    <div class="image-vert" style="background-image: url(<%= image_path 'splash-img.jpeg'%> )">
    </div>
  </div>

                <%#-------- Footer --------%>
  <div class="container text-center">
    <div class="spacer d-flex justify-content-center">
      <%= image_tag 'plantify.png', class: 'image-logo'%> 
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        <div class="icons d-flex justify-content-between">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-tiktok"></i>
        </div>
      </div>
      <div class="container d-flex justify-content-center">
        <div class="row">
          <div class="last-sentence">
            <p>Plantify, Inc. 2020. We love providing plants to our user!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
