<div class="container mt-5">
  <h1 class="mb-5 text-center">
    Add a new Plantify family member 🌱
  </h1>
  <div class="new-form">
    <%= simple_form_for [@plant] do |f| %>
      <%= f.input :name %>
      <%= f.input :photos, as: :file, input_html: { multiple: 'multiple' } %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :category, :collection => %w[ Bathroom Living-Room Outdoor Indoor ] %>
      <%= f.input :price %>
      <%= f.submit "Add Plant" %>
    <% end %>
  </div>

</div>
