<div class="index-banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1586263048715-d2460938153c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');">
  <div class="page-container">
    <div class="banner-text d-flex">
      <h1> <%= @plants.count %> plants for your search</h1>
    </div>
  </div>
</div>

<div class="search-btn d-flex justify-content-center mt-5">
  <%= form_tag(plants_path, method: :get, class: 'form-inline') do %>
    <div class="form-group">
      <%= text_field_tag :query, "", placeholder: "Find your plant", class: 'form-control mr-1' %>
    </div>
    <%= submit_tag "Search", class: 'btn button-ghost' %>
  <% end %>
</div>
<div class="category-choices">
  <% Plant::CATEGORIES.each do |c| %>
    <% if c == params[:category] %>
      <a href="/plants?<%= "&query=#{params[:query]}" if params[:query] %>">
        <div class="category-choice selected"> <%= c %></div>
      </a>
    <% else %>
      <a href="/plants?category=<%= c %><%= "&query=#{params[:query]}" if params[:query] %>">
        <div class="category-choice"> <%= c %></div>
      </a>
    <% end %>
  <% end %>
</div>
<div class="page-container">
    <% if @plants.empty? %>
      <div class="my-3">
        There are not plants for your search yet.
      </div>
    <% end %>
  <div class="cards-grid">
    <div class="row">
      <% @plants.each do |plant| %>
        <div class="col-12 col-md-6 col-lg-4 mt-5">
          <div class="card h-100">
            <div class="plant-card-image" style="background-image: url('<%= cl_image_path plant.photos.first.key, crop: :fill %>')"></div>

            <div class="card-body d-flex flex-column justify-content-between">

              <div>
                <h5 class="card-title font-weight-bold">
                <%= plant.name %>
                </h5>
                  <!--               <p class="card-text mb-5"> <%= plant.description %></p>-->
              </div>

              <div class="d-flex flex-column flex-end mt-auto">
                <p class="card-text"><%= plant.category %></p>
                <p class="card-text mr-4">
            <%= image_tag("https://www.flaticon.com/svg/static/icons/svg/846/846066.svg", size: "20", class: "mr-2") %>

                  <%= plant.price %> / month</p>
              </div>

              <%= link_to "Adopt me", plant_path(plant), class: "button button-green mt-3" %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map"
      class="mt-5"
      style="min-width: 40%; height: 100vh; position: sticky; top: 0;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
  <%= render 'shared/footer' %>

